<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <p style="font-family: Arial;">
        Hi {{name}}! <br> <br>
        We received a request to reset the password for your Hatched app account. <br><br>
        Your reset password code is <span style="font-size: 18px;">{{code}}</span>.<br>
        Enter this code in our Hatched app to reset your password.
    </p>
</body>

</html>