<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <p style="font-family: Arial;">
        Hi {{name}}! <br> <br>
        Your verification code is <span style="font-size: 18px;">{{code}}</span>.<br>
        Enter this code in our Hatched app.
    </p>
</body>

</html>