<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <p style="font-family: Arial;">
        Hi! <br> <br>
        {{inviterCompany}} sent you an invitation to join Hatched. As in an investor in {{inviterCompany}}, you will be
        able to see all data that the company wishes to share with you.

        <br> <br>

        Thank you <br>
        Hatched Team
    </p>

    <div style="margin-top: 16px">
        <a href={{hatchedRegisterUrl}} style="border: none;" target="_blank">
            <button
                style="color: white; background: #1540D7; padding: 12px; width: 150px; font-size: 16px; font-family: Arial; font-weight: 500; line-height: 24px; word-wrap: break-word; border-radius: 8px; cursor: pointer; border: 0.50px #4B68FF solid">
                Join
            </button>
        </a>
    </div>
</body>

</html>