#### #####
NODE_ENV=

##  Application  ##
PORT=
RATE_LIMIT_MAX= # // limit each IP to 200 requests per windowMs
RATE_LIMIT_WINDOW= # 5 * 60 * 1000 => 5 minutes
JWT_ACCESS_TOKEN_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_SECRET_KEY=
JWT_REFRESH_TOKEN_EXPIRES_IN=

##  Database  ##
DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

## type orm
TYPEORM_SYNCHRONIZE=
TYPEORM_MIGRATIONS=

## i18n
FALLBACK_LANGUAGE=

### SMTP
SMTP_SERVER_HOST=
SMTP_SERVER_PORT=
SMTP_SERVER_USER_NAME=
SMTP_SERVER_PASSWORD=
SMTP_SERVER_SENDER_EMAIL=noreply@Hatched.com

### code expiration time
EMAIL_VERIFICATION_CODE_EXPIRATION_IN_MINUTE=
REST_PASSWORD_CODE_EXPIRATION_IN_MINUTE=

## discount code
DISCOUNT_CODE_EXPIRATION_IN_HOUR=24
#DISCOUNT_CODE_LENGTH need to be at least 8 for security/performance
DISCOUNT_CODE_LENGTH=8

## PAYMOB
PAYMOB_API_URL=https://accept.paymobsolutions.com/api
PAYMOB_IFRAME_URL=https://accept.paymobsolutions.com/api/acceptance/iframes
PAYMOB_IFRAME_ID=
PAYMOB_API_KEY=
PAYMOB_ONLINE_CARD_INTEGRATION_ID=
PAYMOB_HMAC_SECRET=

### AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=
